@use '../../../global-styles/setup-style' as *;

.checkbox {
  @include flex_center;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: var(--radius-4);
  background: var(--color-neutral-0);
  border: var(--border-flash-card);
  cursor: pointer;
  transition: var(--transition);

  &:checked {
    background: var(--color-yellow-500);

    &:before {
      @include before_after('src/assets/icons/done.svg', 10px);
    }
  }
  &:hover {
    box-shadow: 1px 1px 0 0 var(--color-neutral-900);
  }
  &:focus {
    box-shadow:
      0 0 0 2px var(--color-neutral-0),
      0 0 0 4px var(--color-blue-600);
  }
}
