@use '../../../global-styles/setup-style' as *;

.settingsContainer {
  @include flex_BothAlign(space-between, center);
  margin-bottom: var(--spacing-400);

  .filterContainer {
    @include flex_verticalAlign(center);
    gap: var(--spacing-250);
    position: relative;

    .actionModal {
      @include drop_down;
      top: 250%;

      &.active {
        top: 120%;
      }
    }
  }
  .checkBoxContainer {
    @include flex_verticalAlign(center);
    gap: var(--spacing-100);

    .label {
      @include text-preset-4-medium;
    }
  }
  .filterBtn {
    @include flex_verticalAlign(center);
    @include text-preset-4-medium;
    gap: var(--spacing-100);
    padding: var(--spacing-150) var(--spacing-200);
    border-radius: var(--radius-full);
    border: var(--border-flash-card);
    background: var(--color-neutral-0);
    transition: var(--transition);

    &:hover {
      background: var(--color-neutral-100);
    }
    &:focus {
      box-shadow:
        0 0 0 2px var(--color-neutral-0),
        0 0 0 4px var(--color-blue-600);
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  @media (max-width: 570px) {
    align-items: flex-start;

    .filterContainer {
      flex-direction: column;
      gap: var(--spacing-125);
    }
  }
}
