@use 'variables' as *;

@mixin before_after($background-image: false, $width, $height: $width) {
  content: '';
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: $width;
  height: $height;
  @if $background-image {
    background-image: url($background-image);
  }
}

@mixin flex_verticalAlign($position) {
  display: flex;
  align-items: $position;
}
@mixin flex_horizonAlign($position) {
  display: flex;
  justify-content: $position;
}
@mixin flex_BothAlign($positionX, $positionY) {
  display: flex;
  justify-content: $positionX;
  align-items: $positionY;
}
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignPositionElement {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin text-preset-1 {
  font-size: var(--font-size-xxl);
  font-family: var(--font-poppins-bold);
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: var(--font-size-xl);
  }
  @media (max-width: 375px) {
    font-size: var(--font-size-lg);
  }
}
@mixin text-preset-2 {
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins-semiBold);
  line-height: 1.2;
}

@mixin text-preset-3 {
  font-size: var(--font-size-md);
  font-family: var(--font-poppins-semiBold);
  line-height: 1.2;
}

@mixin text-preset-4-semibold {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins-semiBold);
  line-height: 1.2;
}
@mixin text-preset-4-medium {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins-medium);
  line-height: 1.2;
}
@mixin text-preset-4-regular {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins-regular);
  line-height: 1.4;
}

@mixin text-preset-5 {
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins-medium);
  line-height: 1.4;
}

@mixin text-preset-5-regular {
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins-regular);
  line-height: 1.4;
}

@mixin text-preset-6 {
  font-size: var(--font-size-extra-sm);
  font-family: var(--font-poppins-medium);
  line-height: 1.3;
}
