@use '../../../global-styles/setup-style' as *;

.cardsSection {
  .icon {
    width: 16px;
    height: 16px;
  }
  .settings {
    margin-bottom: var(--spacing-400);
  }
  .flashCardsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-300);
    margin-bottom: var(--spacing-600);

    .emptyContainer {
      padding-top: 4.875rem;
      padding-bottom: 5.875rem;

      .title {
        @include text-preset-2;
        color: var(--color-neutral-900);
        margin-bottom: var(--spacing-125);
        text-align: center;
      }
      .text {
        @include text-preset-4-regular;
        color: var(--color-neutral-900);
        text-align: center;
      }
    }

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-300);
    }

    @media (max-width: 740px) {
      grid-template-columns: repeat(1, 1fr);
      gap: var(--spacing-300);
    }
  }

  .loadBtn {
    margin: 0 auto;
    margin-bottom: var(--spacing-800);
  }
}
