@use '../../../global-styles/setup-style' as *;

.btn {
  @include flex_verticalAlign(center);
  gap: var(--spacing-100);
  color: var(--color-neutral-900);
  padding: var(--spacing-150) var(--spacing-250);
  border: var(--border-flash-card);
  border-radius: var(--radius-full);
  transition: var(--transition);

  &.primary {
    background: var(--color-yellow-500);
  }

  &.secondary {
    background: var(--color-neutral-0);
  }

  &.primary,
  &.secondary {
    @include text-preset-4-medium;
    box-shadow: 2px 2px 0 0 var(--color-neutral-900);

    &:active {
      &:not(:disabled) {
        box-shadow: 4px 4px 0 0 var(--color-neutral-900);
      }
    }
    &:focus {
      &:not(:active) {
        box-shadow: 3px 3px 0 0 var(--color-blue-600);
      }
    }
    &:hover {
      box-shadow: 4px 4px 0 0 var(--color-neutral-900);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &.thirdly {
    @include text-preset-4-semibold;
    padding: var(--spacing-150) var(--spacing-200);
    background: var(--color-neutral-0);

    &:active {
      border-color: var(--color-neutral-900);
      background: var(--color-neutral-100);
    }

    &:hover {
      border-color: var(--color-neutral-900);
      background-color: var(--color-neutral-100);
    }

    &:focus {
      box-shadow:
        0 0 0 2px var(--color-neutral-0),
        0 0 0 4px var(--color-blue-600);
    }

    @media (max-width: 500px) {
      padding: var(--spacing-125) var(--spacing-150);
    }
  }
}
