@use '../../../global-styles/setup-style' as *;

.studySection {
  gap: var(--spacing-400);
  display: flex;

  .questionContainer {
    width: 65%;
    border-bottom: 3px solid var(--color-neutral-900);
    border-left: 1px solid var(--color-neutral-900);
    border-right: 3px solid var(--color-neutral-900);
    border-top: 1px solid var(--color-neutral-900);
    border-radius: var(--radius-16);
    background: var(--color-neutral-0);

    .settings {
      padding: var(--spacing-250);
      border-bottom: var(--border-flash-card);
    }
    .manageBtnsContainer {
      @include flex_horizonAlign(center);
      gap: var(--spacing-250);
      margin: var(--spacing-250);
    }
    .switchBtnsContainer {
      @include flex_BothAlign(space-between, center);
      gap: var(--spacing-250);
      padding: var(--spacing-250);
      border-top: var(--border-flash-card);

      .counterCards {
        @include text-preset-5;
      }
    }
  }

  @media (max-width: 1100px) {
    flex-direction: column;

    .questionContainer {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    .questionContainer {
      .manageBtnsContainer {
        flex-direction: column;
        gap: var(--spacing-125);
      }
    }
    .switchBtnsContainer {
      .btn {
        padding: var(--spacing-150);

        .btnText {
          display: none;
        }
      }
    }
  }
}
