@use '../../../global-styles/setup-style' as *;

.modal {
  .overlay {
    position: fixed;
    z-index: 90;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-neutral-900);
    opacity: 0.7;
  }
}
