@use '../../../global-styles/setup-style' as *;

.modal {
  .overlay {
    position: fixed;
    z-index: 90;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-neutral-900);
    opacity: 0.7;
  }
  .title {
    @include text-preset-2;
    color: var(--color-neutral-900);
  }

  .editContainer,
  .deleteContainer {
    border-radius: var(--radius-16);
    border: var(--border-flash-card);
    border-bottom-width: 4px;
    border-right-width: 4px;
    background: var(--color-neutral-0);
    width: 600px;
    position: fixed;
    z-index: 100;
    @include alignPositionElement;

    @media (max-width: 600px) {
      width: 80%;
    }
  }

  .editContainer {
    padding: var(--spacing-400);

    .closeBtn {
      position: absolute;
      top: var(--spacing-200);
      right: var(--spacing-200);
      @include flex_center;

      .icon {
        width: 16px;
        height: 16px;
      }
    }

    .title {
      margin-bottom: var(--spacing-300);
    }

    .editForm {
      border: initial;
      padding: initial;
      margin-bottom: initial;
    }

    .btnContainer {
      @include flex_horizonAlign(flex-end);
    }
  }
  .deleteContainer {
    .contentContainer {
      padding: var(--spacing-300);
      border-bottom: var(--border-flash-card);

      .title {
        margin-bottom: var(--spacing-100);
      }
      .text {
        @include text-preset-4-regular;
        color: var(--color-neutral-900);
      }
    }
    .btnContainer {
      @include flex_horizonAlign(flex-end);
      gap: var(--spacing-125);
      padding: var(--spacing-150) var(--spacing-300);
    }
  }
}
